/* Entire page */
.container {
  width:97vw;
  margin: auto;
  padding: 20px;
  font-family: sans-serif;
  color: white;
}

/* Center title */
.title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 42px;
  font-weight: bold;
  color: #f1f1f1;
}

/* Grid layout: 50% - 50% */
.layout {
  display: grid;
  grid-template-columns: 1fr 1fr; /* equal halves */
  gap: 25px;
}

/* Upload Section */
.upload-box {
  border: 2px dashed #888;
  padding: 25px;
  border-radius: 12px;
  background: #1b1b1b;
}

.upload-btn {
  margin-top: 15px;
  padding: 8px 18px;
  cursor: pointer;
  background-color: #4a4a4a;
  color: white;
  border: none;
  border-radius: 6px;
}

/* Document List Section */
.doc-list-box {
  background: #1c1c1c;
  padding: 20px;
  border-radius: 12px;
  height: 500px;
  overflow: hidden;
  border: 1px solid #333;
}

/* Scroll List */
.doc-list {
  margin-top: 10px;
  overflow-y: auto;
  height: 100%;
  padding-right: 10px;
}

/* Document Item */
.doc-item {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-radius: 10px;
  background: #2b2b2b;
  margin-bottom: 12px;
  border: 1px solid #444;
  color: #eaeaea;
}

.doc-actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

button {
  cursor: pointer;
}

.delete-btn {
  background: #ff2e2e;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
}
